/* ===========COMMON STYLES=========== */
.body{
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    margin-top: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{ 
    display: block;
    max-width: 100%;
    height: auto;
}


.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
/* ===========/COMMON STYLES=========== */


/* ===========HEADER=========== */
.top-address {
    font-style: normal
}

.page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}


.logo {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    margin-right: 76px;;    
}

.text-logo {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.link-text{
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-text:hover,
.link-text:focus,
.link-text:active{
    color: var(--OCEAN, #404BBF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link-studio{
    position: relative;
    color: #404bbf;
}

.link-studio::after {
    display: block;
    content: '';
    width: 48px;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
}


.address-link{
    color: var(--SLATE);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.address-link:hover,
.address-link:focus{
    font-weight: 400;
    justify-content: center;
    flex-shrink: 0;
    color: #404BBF;
}

.container{
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
}

.page-header-container{
    display: flex;
}

.nav-container{
    display: flex;
    align-items: center;
}

.list-container{
    display: flex;
    gap: 40px;
}

.address-container{
    display: flex;
    gap: 40px;
}


/* ===========HEADER=========== */


/* ===========FIRST SECTION=========== */
.first-section{
    background-color: #2E2F42;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-hero.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-title{
    color: var(--WHITE, #FFF);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    max-width: 496px;
}

.button{
    color: var(--WHITE, #FFF);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    background: var(--IRIS, #4D5AE5);
    font-weight: 500;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus{
    background-color: #404BBF;
    font-weight: 500;
}
/* ===========/FIRST SECTION=========== */


/* ===========SECOND SECTION========= */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-title{
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px

}

.section-text{
    color: var(--SLATE);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 8px;
}

.title{
    color: var(--NAVY-BLUE, #2E2F42);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.advantages-list-container{
    display: flex;
    gap: 24px;
}

.item-container{
    width: 264px;
    margin-bottom: 8px;
}

.advantages-list-item{
    width: calc((100%-72px)/4);
}

.svg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 100px;
    margin-bottom: 8px;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
}


/* ===========/SECOND SECTION========= */


/* ===========THIRD SECTION========== */
.third-section{
    background: var(--CLOUD, #F4F4FD);
}

.list-item{
    width: calc((100%-72px)4);
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}

.team-container{
    display: flex;
    gap: 24px;
}


.team-text-container{
    text-align: center;
    padding: 32px 0;
    margin-bottom: 8px;
}

.svg-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
    }

.svg-list-item{
    width: 40px;
    height: 40px;
}

.svg-item{
    fill: #F4F4FD;
}

.svg-list-link{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-list-link:hover,
.svg-list-link:focus {
    background-color: #404BBF;
}
/* ===========/THIRD SECTION========== */


/* ===========FOURTH SECTION========== */
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    flex-direction: row;
    padding-left: 0;
}

.portfolio-list-item{
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover{
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.title-text-container {
    padding: 32px 16px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-top: none;
}

.text-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4D5AE5;
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .text-overlay {
    transform: translateY(0%);
}

.div-overlay{
    position: relative;
    overflow: hidden;
}




/* ==========/FOURTH SECTION========== */


/* ==========FOOTER========== */
.main-footer{
    background: var(--NAVY-BLUE, #2E2F42);
    padding-top: 100px;
    padding-bottom: 100px;;
}

.logo-footer{
    color: var(--CLOUD, #F4F4FD);
     font-family: Raleway, sans-serif;
     font-size: 18px;
     font-weight: 700;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
}

.text-footer{
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;;
}

.logo-end{
    display: inline-block;
    margin-bottom: 16px;
}
.logo-text{
    margin-right: 120px
}
.container-footer{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.svg-list-footer{
    display: flex;
    gap: 16px;
}

.social-media-footer-text{
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;;
}

.svg-list-item-footer{
    width: 40px;
    height: 40px;
}

.svg-list-link-footer{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-list-link-footer:hover,
.svg-list-link-footer:focus{
    background-color: #31D0AA;
}

.subscribe-footer{
    margin-left: 80px;
}

.subscribe{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.form-subscribe{
    display: flex;
    gap: 24px;
    justify-content: flex-end;
}

.subscribe-footer-input{
    border-radius: 4px;
    border: 1px solid var(--WHITE,#FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding: 8px 16px;
    width: 264px;
    height: 40px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #ffffff;
}

.subscribe-footer-input::placeholder{
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.subscribe-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    padding: 8px24px;
    min-width: 165px;
    height: 40px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus{
    background-color: #404BBF;
    font-weight: 500;
}

.subscribe-btn-icon{
    margin-left: 16px;
}
/* ==========/FOOTER========== */


/* ==========BACKDROP STYLES========== */

.backdrop{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
/* ==========/BACKDROP STYLES========== */


/* ==========MODAL WINDOW STYLES========== */

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .modal-close-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: #E7E9FC;
    cursor: pointer;
    line-height: 0; 
    fill: #2E2F42;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus{
    background-color: #404BBF;
    fill: #ffffff;
    border: none;
} 

.modal-close-btn-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-description{
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.review-form-field-wrapper{
    margin-bottom: 8px;
}

.review-form-field-wrapper-textarea{
    margin-bottom: 16px;
}

.review-form-field-label{
    display: block;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.review-form-input-wrapper{
    position: relative;
}

.review-form-input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    outline: 0px solid transparent;
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus{
    border-color: #4D5AE5;
}

.review-form-input-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill:#2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus + .review-form-input-icon{
    fill: #4D5AE5;
}

.review-form-comment{
    width: 100%;
    height: 120px;
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
}

.review-form-comment::placeholder{
    color: rgba(46, 47, 66, 0.40);
}

.review-form-comment:focus{
    border-color: #4D5AE5;
}


.review-form-checkbox-wrapper{
    margin-bottom: 24px;
}

.review-form-checkbox-label{
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.review-form-own-checkbox{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

.privacy-policy{
    color: #4D5AE5;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}

.review-form-checkbox:checked + .review-form-checkbox-label > .review-form-own-checkbox{
    border: none;
    fill: #F4F4FD;
    background-color: #404BBF;
}

/* .review-form-checkbox:focus + .review-form-checkbox-label > .review-form-own-checkbox{
    border: 1px solid #4D5AE5
} */

.review-form-own-checkbox-icon{
    fill: #F4F4FD;
    opacity: 0;
}
.review-form-checkbox:checked + .review-form-checkbox-label .review-form-own-checkbox-icon{
    opacity: 1;
}

.review-form-submit-btn{
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2,1);
}

.review-form-submit-btn:hover,
.review-form-submit-btn:focus{
    background-color: #404BBF;
    font-weight: 500;
}
/* ==========/MODAL WINDOW STYLES========== */
